    /* Reset de estilo */
    * {
      margin: 1;
      padding: 0;
      box-sizing: border-box;
    }
    :root{
    --first-color:#d7dbe4;
    --second-color:#474C69;
    --third-color:#D50179;;
    --forth-color:#dae0e8;
    }
    .dark-theme{
     --first-color:#01041d;
    --second-color:#488099;
    --third-color:#D50179;
    --forth-color:#02062f;
  }
    body {
      font-family: "Quicksand", serif;
      line-height: 1.6;
      color: var(--second-color);
      background-color: var(--first-color);
      text-align: center;
      font-size: 1.2rem;
    }
    #logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:1.2rem;
    }
    header {
      background-color: var(--first-color);
      padding: 0.2rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid var(--first-color);
      position: fixed; /* Fixa o cabeçalho no topo */
      top: 0; /* Alinha no topo da página */
      left: 0; /* Alinha à esquerda */
      width: 100%; /* Faz o cabeçalho ocupar toda a largura da tela */
      z-index: 1000; /* Garante que fique acima de outros elementos */
    }
    
    header h1 {
      font-size: 1.5rem;
      color: var(--second-color);
    }
    
    header h1 span {
      color: var(--third-color);
    }
    
    #flag {
      width: 40px;
      cursor: pointer;
    }
    
    #icon {
      width: 30px;
      cursor: pointer;
    }
    
    nav ul {
      display: flex;
      align-items: center;
      text-align: right;
      gap: 1rem;
    }
    
    nav a {
      text-decoration: none;
      color: var(--second-color);
      margin-left: 1.5rem;
      font-weight: bold;
    }
    
    nav a:hover {
      color: var(--third-color);
    }
    
    /* Estilo básico do select */
    select {
      font-family: "Quicksand", serif;
      background-color: transparent; /* Fundo transparente para combinar com o cabeçalho */
      color: var(--second-color); /* Cor do texto */
      font-size: 1.2rem; /* Tamanho da fonte */
      border: none; /* Remove a borda padrão */
      outline: none; /* Remove a borda ao focar */
      cursor: pointer; /* Cursor em forma de mão ao passar */
      padding: 5px 10px; /* Espaçamento interno */
      border-radius: 5px; /* Arredondar os cantos */
      font-weight: bold;
      line-height: 1.6;
    }
    
    /* Adiciona transição ao passar o mouse */
    select:hover {
      background-color: var(--forth-color); /* Fundo leve ao passar */
      color: var(--second-color); /* Texto mais escuro ao passar */
    }
    
    /* Para browsers que permitem estilizar o ícone da seta */
    select::-ms-expand {
      display: none; /* Remove a seta padrão no Edge */
    }
    
    /* Adiciona margem ao body para evitar conteúdo escondido */
    body {
      margin-top: 80px; /* Ajuste para o tamanho do cabeçalho */
    }
    
    /*Ajuste da seta para WebKit (Chrome, Safari) */
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 12px;
    }

    .section {
      padding: 3rem 2rem;
      text-align: center;
      width: 100%;
      height: 650px;
      align-items: center;
      
    }

    .section:nth-child(even) {
      background-color: var(--forth-color);
    }

    .section h2 {
      font-size: 2rem;
      color: var(--third-color);
      margin: 3rem, 0, 2rem, 0;
    }

    #intro h2 {
      font-size: 3rem;
      color: var(--second-color);
    }

    #intro h2 span {
      color: var(--third-color);
    }

    #intro .button-link {
      background-color: var(--third-color);
      color: #fff;
      border: none;
      padding: 0.8rem 1.5rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 5px;
      margin-top: 1.5rem;
      text-decoration: none;
    }

    #intro .button-link:hover {
      background-color: var(--third-color);
    }

      #about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        
      }

      #about .content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 1rem auto;
        align-content: space-between;
        gap: 15%;
      }
    #about .photo {
        margin-right: 20px; /* Espaçamento entre a foto e o texto */
      }
      
    
      
      #about .text {
        max-width: 600px; /* Limita o tamanho do texto */
        font-size: 1.2rem;
      }
      #about button{
        background: none; 
        border: none; 
        padding: 0; 
        font: inherit; 
        color: inherit; 
        cursor: pointer; 
        outline: none;
        font-weight: bolder;

        /* Estilos personalizados 
        background-color: #6200ea; 
        color: white; 
        padding: 10px 20px; 
        border-radius: 5px; */ 
        transition: background-color 0.3s ease;
       } 
        
       #about button:hover {
           color: var(--third-color);
      }
      #about .social-links{
        margin-top:12%;
      }
      #about .social-links img {
        width: 60px;
        height:60px;
        left: 257px;
        top: 265px;
        border-radius: 50%;
      }

      #about img {
          width: 380px;
          height: 520px;
          border-radius: 10%;
          margin-bottom: 1rem;
          
      }
      .skills-section div{
        display: flex;
      }
      .skills-section {
        padding: 20px;
        background-color: var(--forth-color); 
      } 
      .skills-section h2 {
        color: var(--third-color);
      } 
      .skills-section p { 
        margin-bottom: 40px; 
        font-size: 1.2rem;
      } 
      .skills-container { 
        display:flex; 
        justify-content:center;
        flex-wrap: wrap; 
        gap: 20px; 
      } 
      .skills-column {
        background-color: var(--first-color); 
        display: flex; 
        flex-direction: column; /* Garante que o conteúdo fique alinhado na vertical */ 
        align-items: center; /* Alinha o conteúdo no topo */  
        padding: 20px; 
        border-radius: 10px; 
        width: 250px; 
        margin: 10px; 
        box-sizing: border-box; flex: 1 1 250px;
      } 
      .skills-column h3 { 
        font-size: 1.2rem;
        color: var(--third-color); 
        margin-bottom: 20px; 
      } 
      .skills-column ul { 
        list-style-type: none; 
        padding: 0; 

      } 
      .skills-column ul li {
        margin-bottom: 10px; 
      }
      #portfolio {
        padding: 4rem 2rem;
        background-color: var(--first-color);
        text-align: center;
      }
  
      #portfolio h2 {
        font-size: 2.5rem;
        color: var(--third-color);
        margin-bottom: 2rem;
      }
  
      .carousel {
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        scroll-snap-type: x mandatory;
        padding: 1rem 0;
      }
  
      .carousel-item {
        flex: 0 0 auto;
        width: 300px;
        height: 200px;
        background-color: var(--forth-color);
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        scroll-snap-align: center;
        transition: transform 0.3s;
      }
  
      .carousel-item:hover {
        transform: scale(1.05);
      }
  
      .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
      }
  
      .modal.active {
        display: flex;
      }
  
      .modal-content {
        background-color: var(--forth-color);
        padding: 2rem;
        border-radius: 10px;
        max-width: 600px;
        text-align: center;
        position: relative;
      }
  
      .modal-content img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 1rem;
      }
  
      .modal-content h3 {
        color:var(--third-color);
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
  
      .modal-content p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
  
      .modal-content a {
        display: inline-block;
        background-color: var(--second-color);
        color: #fff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
      }
  
      .modal-content a:hover {
        background-color: var(--third-color);
      }
  
      .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: var(--second-color);
        color: #fff;
        border: none;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 5px;
      }
  
      .modal-close:hover {
        background-color: var(--third-color);
      }
    

   
    footer {
      background-color: var(--first-color);
      color: var(--third-color);
      padding: 2rem;
      text-align: center;
    }

    footer a {
      color: var(--second-color);
      text-decoration: none;
      font-weight: bold;
    }

    footer a:hover {
      text-decoration: underline;
    }

    .social-links img {
        width: 50px;
        height:50px;
        left: 257px;
        border-radius: 50%;
        gap:initial;
    }
  /* Responsividade */
  @media (max-width: 828px) {
    header {
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
    }

    header h1 {
      font-size: 1.4rem; /* Ajusta o tamanho do título */
    }

    nav ul {
      flex-direction: column;
      gap: 0.5rem;
    }

    body {
      font-size: 1.1rem; /* Ajusta o tamanho da fonte para uma leitura melhor */
    }

    .section {
      padding: 2rem 1rem;
    }

    .section h2 {
      font-size: 1.8rem; /* Ajusta o título para um tamanho adequado */
    }

    #about .content {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    #about img {
      max-width: 300px; /* Ajusta o tamanho da imagem */
      height: auto;
    }

    .skills-container {
      gap: 1rem;
      justify-content: center;
    }

    .skills-column {
      max-width: 250px;
      padding: 1rem;
    }

    footer {
      padding: 1rem 1rem;
      text-align: center;
    }

    .social-links img {
      width: 45px;
      height: 45px;
    }
  }
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      gap: 0.5rem;
    }

    header h1 {
      font-size: 0.5rem;
    }

      nav ul {
        display: inline-table;
        align-items: center;
        text-align: left;
        gap: 1rem;
    }

    @media (max-width: 768px) {
      select {
        font-size: 14px;
        padding: 4px 8px;
      }
    }*
    body {
      font-size: 1rem;
    }

    .section {
      padding: 1.5rem 1rem;
    }

    .section h2 {
      font-size: 1.5rem;
    }
    #about {
      display: inline-table;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    } 
    #about .content {
      flex-direction: column;
      align-items: center;
    }

    #about img {
      max-width: 250px;
    }
    #sectionAboutP {
      text-align: justify;
    }
    .skills-container {
      gap: 0.5rem;
    }

    .skills-column {
      max-width: 250px;
      padding: 0.5rem;
    }

    footer {
      padding: 1rem 0.5rem;
    }
  }
  @media (max-width: 430px) {
    header h1 {
      font-size: 1rem;
    }
  
    nav ul {
      gap: 0.3rem;
    }
  
    #about img {
      max-width: 60%;
       height: 50%;
      }
  
    .section h2 {
      font-size: 1.2rem;
    }
  
    .skills-column {
      max-width: 200px;
    }
  }
  
  
