body{
    background: #e7dce4;
    font-family: 'Playfair Display', serif;
    margin: auto;
}
.cabecalho{
    background-color:#3F37C9;
}
.texto_cabeçalho{
    color:#F72585;
    text-transform: capitalize;
    font-size: 43px;
    margin: .5rem 0 0 0;
    padding: .4rem 5rem .3rem 0;
    display: inline;
    float:right;
}

.Logo{
    padding: 0 1rem;
    border-radius: .3rem;
    width: 100px 75px;
}

.foto{
    border-radius: 25% ;
    
}
#title, .subtitle, .post_title {
    color:#F72585;
    ;
}

#title{
    font-size: 60px; 
    font-style:initial;
}
a{
    text-decoration: underline;
    color: rgb(45, 44, 44);
}

.post_title{
    font-size: 18px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background:  #150ae5;   
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px 10px;
    display: flex; 
    flex-direction: column;
    border-radius: 1rem;
    max-width: 34%
}
.post_content{
    color: rgb(45, 44, 44);
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 95%;
}
.contact_list{
    list-style-type:square;
    padding: 0;
}
.contact_list li a{
    list-style-type: square;
    color: #c7397b;
}