body{
    background: #bab7b7;
    font-family: monospace;
    max-width: 1000px;
    margin: auto;
}

.foto{
    border: 3px solid #353434 ;
    border-radius: 50% ;
}
#title, .subtitle, .post_title {
    color: rgb(169, 54, 92);
}

#title{
    font-size: 40px; 
    text-transform: uppercase;
}
a{
    text-decoration: underline;
    color: rgb(45, 44, 44);
}

.post_title{
    font-size: 18px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background: rgb(236, 212, 227);
    padding: 15px;
    border: 3px solid #cda0b5;
    margin-bottom: 15px;
    border-radius: 5px 10px;
}
.post_content{
    color: rgb(45, 44, 44);
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 95%;
}
.contact_list{
    list-style-type:square;
    padding: 0;
}
.contact_list li a{
    list-style-type: square;
    color: #c7397b;
}